.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}

.book-enter-active, .book-leave-active {
  transition: opacity .2s
}
.book-enter, .book-leave-to /* .book-leave-active in <2.1.8 */ {
  opacity: 0
}

body {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 600;
}

p {
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 600;
}

.indicator {
  text-transform: capitalize;
  color : white;
  background-color : black;
  border-radius : 100px;
  float : left;
  height : 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px; 
  font-family: Montserrat;
  font-weight : 600;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  padding-left : 20px;
  padding-right : 20px;
}